@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif, "Nerko One";
}
html, body{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    scroll-behavior: smooth;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    height: 2.6vw;
    width: 100%;
    /* background-color: red; */
    padding: 2vw 2.6vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#nav-part2{
    display: flex;
    align-items: center;
}
#nav-part2 h3{
    font-weight: 500;
    border: 0.1vw solid rgb(255, 174, 0);
    border-radius: 50px;
    background-color: rgb(255, 174, 0);
    color: white;
    padding: 0.52vw;
    font-size: 1.56vw;
    margin-right: 0.26vw;
}
#nav-part2 h3:hover{
    background-color: rgb(189, 129, 0);
    transition: 700ms;
    cursor: pointer;
}
#nav-part2 h3:active{
    background-color: rgb(119, 81, 0);
}
#intro{
    line-height: 4.16vw;
    width: 100%;
    padding: 5.72vw 2.6vw;
    /* line-height: 70px; */
}
#AN{
    color: rgb(255, 175, 0);
    text-decoration: none;
}
#des{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#arrow{
    color: rgb(255, 175, 0);
    text-decoration: none;
}
#intro h1{
    font-size: 7.8vw;
}
#dot{
    color: rgb(0, 0, 0);
}
#intro h1:hover{
    cursor: pointer;
}
#intro h2{
    font-size: 3.12vw;
    font-weight: 500;
}
#intro h3{
    font-size: 1.04vw;
    font-weight: 500;
}
#place{
    line-height: 0.05vw;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
#place i{
    font-size: 1.56vw;
    color: rgb(255, 174, 0)
}
#place h3{
    font-weight: 300;
}
#place i:hover{
    cursor: pointer;
}
#hero-img{
    height: 87%;
    width: 100%;
    background-image: url(assets/myimg.jpg);
    background-size: cover;
    margin-bottom: 2.6vw;
}
#about{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.6vw;
}
#about h2{
    margin-top: -10.4vw;
    font-size: 80px;
    height: 45%;
    width: 60%;
    line-height: 4.16vw;
    letter-spacing: -0.15vw;
    font-weight: 700;
}
#dev{
    color: rgb(255, 174, 0);
    text-decoration: underline;
}
#about-part1{
    width: 36%;
    height: 100%;
    padding: 0.52vw 5.2vw;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about-part1 h3{
    font-size: 2.6vw;
    font-weight: 700;
}
#icons{
    padding-left: 2.76vw;
}
#icons i{
    font-size: 2.60vw;
}
#icons a{
    color: rgb(255, 175, 0);
    text-decoration: none;
}
#icons a:hover{
    color: rgb(189, 129, 0);
    transition: 700ms;
}
#icons a:active{
    color: rgb(119, 81, 0);

}
#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    padding: 2.6vw 3.12vw;
}
#work1{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid black;
}
#work1 h3{
    font-size: 1.71vw;
    font-weight: 700;
}
#work2{
    height: 100%;
    width: 100%;
    padding: 0vw 1.82vw;
}
#work1 i{
    font-size: 1.82vw;
}
.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.6vw 0vw;
}
.work2-part:nth-child(1){
    border-bottom: 2px solid black;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
}
.work2-part .elem:nth-child(2){
    padding-left: 3.12vw;
}
.work2-part .elem h4{
    font-size: 2.34vw;
    margin-bottom: 0.52vw;
}
.work2-part .elem p{
    font-size: 1.04vw;
}
#workorange{
    color: rgb(255, 175, 0);
    text-decoration: underline;
}
#end-elem{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
#end-part1{
    color: white;
    width: 100%;
    height: 2.6vw;
    text-align: center;
    padding-top: 6.8vw;
}
#connect{
    font-weight: 200;
    font-size: 1.56vw;
}
#let{
    font-size: 4.42vw;
    font-weight: 300;
}
#button{
    margin-top: 15.62vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button a{
    text-decoration: none;
}
#button h3{
    font-size: 1.04vw;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 2.6vw;
    padding: 1.04vw;
}
#end-elem h4{
    margin-top: 25vw;
    color: rgb(255, 255, 255);
    text-align: center;
}
@media (max-width:600px){
    #intro{
        padding: 20vw 5vw;
        line-height: 5vw;
    }
    #AN{
        font-size: 20vw;
    }
    #nav{
        height: 60px;
        padding: 6vw 2vw;
    }
    #nav-part2 h3{
        font-size: 4vw;
    }
    #intro h2{
        font-size: 5vw;
    }
    #intro h3{
        margin-top: 1vw;
        font-size: 3vw;
    }
    #place i{
        font-size: 10vw;
        position: absolute;
        top: 48vw;
        left: 90%;
    }
    #hero-img{
        width: 100%;
        height: 50vw;
        background-image: url(assets/myimg.jpg);
        background-size: contain;
        /* background-repeat: ; */
    }
    #about h2{
        font-size: 6vw;
        line-height: 8vw;
        padding: 0 2vw;
    }
    #about-part1 h3{
        font-size: 4vw;
        padding: 20vw 0vw;
    }
    #icons i{
        font-size: 6vw;
    }
    #work{
        height: 75vw;
        width: 100%;
    }
    #work1 h3{
        font-size: 4vw;
        padding: 6.4vw 0vw;
    }
    #work1 i{
        font-size: 4vw;
        padding: 6.4vw 0vw;
    }
    #work2{
        width: 100%;
    }
    #work2 h4{
        font-size: 4vw;
    }
    #work2 p{
        font-size: 2.4vw;
    }
    #end-elem{
        height: 100vh;
        width: 100%;
    }
    #connect h3{
        padding: 20vw 0vw 0vw 0vw;
        font-size: 8vw;
    }
    #let h2{
        font-size: 13vw;
    }
    #button h3{
        margin-top: 50vw;
        font-size: 5vw;
        padding: 5vw;
        border-radius: 10vw;
    }
    #end-elem h4{
        margin-top: 100vw;
    }
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
        /* clip-path: inset(100% 100% 0 0); */
    }
    to{
        opacity: 1;
        transform: translateX(0px);    
        /* clip-path: inset(0 0 0 0); */
    }
}
.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}