@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .logo span {
    font-size: 2.3rem;
    font-weight: bold;
    color: rgb(159, 18, 18);
    padding: 0px 18px;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
    display: none;
}

.nav-container .links a {
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a:hover {
    color: rgb(159, 18, 18);
    border-bottom: 2px solid rgb(159, 18, 18);
}

.dropdown {
    z-index: 10;
    position: absolute;
    top: 0;
    transform: translateY(-400px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
}

.dropdown a:hover {
    background-color: rgb(159, 18, 18);
}

section {
    height: 100%;
    width: 100%;
}

.main-container {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container .image {
    font-size: 40rem;
    height: 100%;
    width: 500px;
}

.main-container .image i {
    width: 100%;
    color: rgb(159, 18, 18);
    border: 2px solid #fff;
    margin: 0px 2vw;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    filter: drop-shadow(0 0 10px rgb(159, 18, 18));
}

.main-container .image i:hover{
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0%{
        font-size: 40rem;
    }
    50%{
        font-size: 40.5rem;
        filter: drop-shadow(0 0 15px rgb(159, 18, 18));
    }
    100%{
        font-size: 40rem;
    }
}

.main-container .content {
    color: white;
    width: 50%;
    min-height: 100px;
}

.main-container .content h2 {
    font-size: clamp(2.5rem, 2.5rem + 5vw, 1.8rem);
}

.main-container .content h2 span {
    color: rgb(159, 18, 18);
    filter: drop-shadow(0 0 10px rgb(159, 18, 18));
}

.main-container .content p {
    font-size: clamp(2rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.main-container .content p span {
    color: rgb(159, 18, 18);
    filter: drop-shadow(0 0 10px rgb(159, 18, 18));
}

.content button{
    width: 50%;
    height: 6vh;
    margin: 30px 0;
    background-color: rgb(159, 18, 18);
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.content button:hover{
    scale: 1.1;
    color: rgb(159, 18, 18);
    border: 2px solid rgb(159, 18, 18);
    background-color: transparent;
    box-shadow: 0 0 40px 5px rgb(159, 18, 18);
}

.ult-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(159, 18, 18);
    margin-top: 100px;
    text-align: center;
}

.ult-container .contacts h2 {
    width: 20vw;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 30px;
}

.ult-container .contacts h3{
    color: rgb(159, 18, 18);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
}

#type-animation{
    font-size: 5rem;
}

@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container{
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,
    .cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
        margin-top: -40px;
    }
    .main-container .image i{
        z-index: -1;
        font-size: 20rem;
        position: absolute;
        top: 30%;
        left: 25%;
        width: 40%;
        height: 35%;
    }

    .ult-container .contacts h2 {
        width: 40vw;
        position: absolute;
        top: 120%;
        left: 30%;
    }
}

@media (max-width:440px) {
    .main-container .image i{
        border: none;
        position: absolute;
        left: 10%;
        top: 15%;
    }

    .main-container .content{
        position: absolute;
        top: 60%;
        width: 80%;
    }

    .main-container button{
        margin-top: 15px;
    }
}